In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml import Pipeline
import pyspark.pandas.plot.matplotlib as plt
import pandas as pd
spark = SparkSession.builder\
.master("local[4]")\
.appName("DataExplore")\
.config("spak.executer.memory", "4g")\
.config("spark.driver.memory", "2g")\
.getOrCreate()

C:\spark\python\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
adultTrain = spark.read\
.option("header", "True")\
.option("inferSchema", "True")\
.option("sep", ",")\
.csv("train.csv")

In [3]:
adultTest = spark.read\
.option("header", "True")\
.option("inferSchema", "True")\
.option("sep", ",")\
.csv("test_x.csv")

In [4]:
adultTrain.limit(5).toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,37.310644,Etmiyor,obek_4,102.936904
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,11.554851,Etmiyor,obek_5,82.176053
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,55.353236,Ediyor,obek_8,141.661426
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,15.417239,Etmiyor,obek_3,17.097397
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,14.689837,Etmiyor,obek_3,20.470459

In [5]:
adultTest.limit(5).toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,0,Erkek,51-60,Evli,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,365331.930346,Köy veya Kasaba,Giyim,5566.587664,15.442635,Etmiyor,19.646460
1,1,Erkek,41-50,Bekar,Lise Mezunu,İşsiz veya Düzenli Bir İşi Yok,414899.236174,Büyük Şehir,Spor Malzemeleri,6756.766203,14.957246,Etmiyor,19.675863
2,2,Kadın,>60,Evli,Eğitimsiz,İşsiz veya Düzenli Bir İşi Yok,152825.872271,Küçük Şehir,Giyim,4493.915682,10.907930,Etmiyor,46.904518
3,3,Kadın,51-60,Evli,Doktora Ötesi,Düzenli ve Ücretli Bir İşi Var,489052.908472,Köy veya Kasaba,Kozmetik,42670.646595,32.333021,Etmiyor,48.083609
4,4,Erkek,18-30,Evli,Yüksek Lisans Mezunu,Kendi İşinin Sahibi,323635.711534,Küçük Şehir,Giyim,5959.266948,4.519968,Etmiyor,12.752491

In [6]:
adultTrain.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Cinsiyet: string (nullable = true)
 |-- Yaş Grubu: string (nullable = true)
 |-- Medeni Durum: string (nullable = true)
 |-- Eğitim Düzeyi: string (nullable = true)
 |-- İstihdam Durumu: string (nullable = true)
 |-- Yıllık Ortalama Gelir: double (nullable = true)
 |-- Yaşadığı Şehir: string (nullable = true)
 |-- En Çok İlgilendiği Ürün Grubu: string (nullable = true)
 |-- Yıllık Ortalama Satın Alım Miktarı: double (nullable = true)
 |-- Yıllık Ortalama Sipariş Verilen Ürün Adedi: double (nullable = true)
 |-- Eğitime Devam Etme Durumu: string (nullable = true)
 |-- Öbek İsmi: string (nullable = true)
 |-- Yıllık Ortalama Sepete Atılan Ürün Adedi: double (nullable = true)

In [7]:
adultTrain.describe(['Yıllık Ortalama Gelir', 'Yıllık Ortalama Satın Alım Miktarı', 'Yıllık Ortalama Sepete Atılan Ürün Adedi']).toPandas()

,summary,Yıllık Ortalama Gelir,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,count,5460,5460,5460
1,mean,363571.133427555,16616.612217082533,73.44569302866331
2,stddev,219714.4424073488,14099.171703975768,47.2141837101441
3,min,43922.98869298681,2859.2540004923017,3.9775587758347974
4,max,1192437.1452577456,48605.59441519324,242.30844066611874

In [8]:
Indexer = StringIndexer().setInputCols(["Cinsiyet", "Yaş Grubu", "Medeni Durum", "Eğitim Düzeyi", "İstihdam Durumu", 
                                        "Yaşadığı Şehir", "En Çok İlgilendiği Ürün Grubu", "Eğitime Devam Etme Durumu"])\
.setOutputCols(["CinsiyetIndex", "Yaş_GrubuIndex", "Medeni_DurumIndex", "Eğitim_DüzeyiIndex", "İstihdam_DurumuIndex", 
                "Yaşadığı_ŞehiIndex", "En_Çok_İlgilendiği_Ürün_GrubuIndex", "Eğitime_Devam_Etme_Durumu"])
IndexerModel = Indexer.fit(adultTrain)
adultTrain2 = IndexerModel.transform(adultTrain)
adultTrain2.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi,CinsiyetIndex,Yaş_GrubuIndex,Medeni_DurumIndex,Eğitim_DüzeyiIndex,İstihdam_DurumuIndex,Yaşadığı_ŞehiIndex,En_Çok_İlgilendiği_Ürün_GrubuIndex,Eğitime_Devam_Etme_Durumu
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,...,obek_4,102.936904,1.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,...,obek_5,82.176053,0.0,4.0,0.0,0.0,2.0,1.0,3.0,0.0
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,...,obek_8,141.661426,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,...,obek_3,17.097397,0.0,2.0,0.0,0.0,2.0,3.0,0.0,0.0
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,...,obek_3,20.470459,0.0,1.0,0.0,5.0,1.0,0.0,0.0,0.0

In [9]:
labelIndexer = StringIndexer().setInputCol("Öbek İsmi").setOutputCol("label")
labelIndexerModel = labelIndexer.fit(adultTrain2)
adultTrain2 = labelIndexerModel.transform(adultTrain2)
adultTrain2.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Yıllık Ortalama Sepete Atılan Ürün Adedi,CinsiyetIndex,Yaş_GrubuIndex,Medeni_DurumIndex,Eğitim_DüzeyiIndex,İstihdam_DurumuIndex,Yaşadığı_ŞehiIndex,En_Çok_İlgilendiği_Ürün_GrubuIndex,Eğitime_Devam_Etme_Durumu,label
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,...,102.936904,1.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,...,82.176053,0.0,4.0,0.0,0.0,2.0,1.0,3.0,0.0,2.0
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,...,141.661426,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,...,17.097397,0.0,2.0,0.0,0.0,2.0,3.0,0.0,0.0,3.0
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,...,20.470459,0.0,1.0,0.0,5.0,1.0,0.0,0.0,0.0,3.0

In [10]:
encoder = OneHotEncoder().setInputCols(["CinsiyetIndex", "Yaş_GrubuIndex", "Medeni_DurumIndex", "Eğitim_DüzeyiIndex", "İstihdam_DurumuIndex", 
                "Yaşadığı_ŞehiIndex", "En_Çok_İlgilendiği_Ürün_GrubuIndex", "Eğitime_Devam_Etme_Durumu"]) \
.setOutputCols(["CinsiyeEnoder", "Yaş_GrubuEnoder", "Medeni_DurumEnoder", "Eğitim_DüzeyiEnoder", "İstihdam_DurumuEnoder", 
                "Yaşadığı_ŞehiEnoder", "En_Çok_İlgilendiği_Ürün_GrubuEnoder", "Eğitime_Devam_Etme_DurumuEnoder"])
encoderModel = encoder.fit(adultTrain2)
adultTrain3 = encoderModel.transform(adultTrain2)
adultTrain3.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Eğitime_Devam_Etme_Durumu,label,CinsiyeEnoder,Yaş_GrubuEnoder,Medeni_DurumEnoder,Eğitim_DüzeyiEnoder,İstihdam_DurumuEnoder,Yaşadığı_ŞehiEnoder,En_Çok_İlgilendiği_Ürün_GrubuEnoder,Eğitime_Devam_Etme_DurumuEnoder
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,...,0.0,0.0,(0.0),"(0.0, 1.0, 0.0, 0.0)",(0.0),"(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)",(1.0)
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,...,0.0,2.0,(1.0),"(0.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0)","(0.0, 0.0, 0.0, 1.0)",(1.0)
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,...,1.0,1.0,(1.0),"(1.0, 0.0, 0.0, 0.0)",(0.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(0.0)
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,...,0.0,3.0,(1.0),"(0.0, 0.0, 1.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0)
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,...,0.0,3.0,(1.0),"(0.0, 1.0, 0.0, 0.0)",(1.0),"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0)

In [11]:
assembler = VectorAssembler().setInputCols(["CinsiyeEnoder", "Yaş_GrubuEnoder", "Medeni_DurumEnoder", "Eğitim_DüzeyiEnoder", "İstihdam_DurumuEnoder", "Yıllık Ortalama Gelir",
                                       "Yaşadığı_ŞehiEnoder", "En_Çok_İlgilendiği_Ürün_GrubuEnoder", "Yıllık Ortalama Satın Alım Miktarı", "Yıllık Ortalama Sipariş Verilen Ürün Adedi", 
                                        "Eğitime_Devam_Etme_DurumuEnoder"])\
.setOutputCol("vectorizedFeatures")

assembleradultTrain3 = assembler.transform(adultTrain3)

In [13]:
scaler = StandardScaler().setInputCol("vectorizedFeatures").setOutputCol("features")
scalerModel = scaler.fit(assembleradultTrain3)
scaledDF_train = scalerModel.transform(assembleradultTrain3)
scaledDF_train.select("features").toPandas().head()

                                            features
0  (0.0, 0.0, 2.25090656400804, 0.0, 0.0, 0.0, 0....
1  (2.0072038362398383, 0.0, 0.0, 0.0, 0.0, 2.001...
2  (2.0072038362398383, 2.1151037863656277, 0.0, ...
3  (2.0072038362398383, 0.0, 0.0, 2.7435923800278...
4  (2.0072038362398383, 0.0, 2.25090656400804, 0....

In [14]:
Indexer = StringIndexer().setInputCols(["Cinsiyet", "Yaş Grubu", "Medeni Durum", "Eğitim Düzeyi", "İstihdam Durumu", 
                                        "Yaşadığı Şehir", "En Çok İlgilendiği Ürün Grubu", "Eğitime Devam Etme Durumu"])\
.setOutputCols(["CinsiyetIndex", "Yaş_GrubuIndex", "Medeni_DurumIndex", "Eğitim_DüzeyiIndex", "İstihdam_DurumuIndex", 
                "Yaşadığı_ŞehiIndex", "En_Çok_İlgilendiği_Ürün_GrubuIndex", "Eğitime_Devam_Etme_Durumu"])
IndexerModel = Indexer.fit(adultTest)
adultTest2 = IndexerModel.transform(adultTest)
adultTest2.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Eğitime Devam Etme Durumu,Yıllık Ortalama Sepete Atılan Ürün Adedi,CinsiyetIndex,Yaş_GrubuIndex,Medeni_DurumIndex,Eğitim_DüzeyiIndex,İstihdam_DurumuIndex,Yaşadığı_ŞehiIndex,En_Çok_İlgilendiği_Ürün_GrubuIndex,Eğitime_Devam_Etme_Durumu
0,0,Erkek,51-60,Evli,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,365331.930346,Köy veya Kasaba,Giyim,5566.587664,...,Etmiyor,19.646460,0.0,2.0,0.0,2.0,0.0,2.0,0.0,0.0
1,1,Erkek,41-50,Bekar,Lise Mezunu,İşsiz veya Düzenli Bir İşi Yok,414899.236174,Büyük Şehir,Spor Malzemeleri,6756.766203,...,Etmiyor,19.675863,0.0,3.0,1.0,0.0,1.0,0.0,2.0,0.0
2,2,Kadın,>60,Evli,Eğitimsiz,İşsiz veya Düzenli Bir İşi Yok,152825.872271,Küçük Şehir,Giyim,4493.915682,...,Etmiyor,46.904518,1.0,4.0,0.0,5.0,1.0,1.0,0.0,0.0
3,3,Kadın,51-60,Evli,Doktora Ötesi,Düzenli ve Ücretli Bir İşi Var,489052.908472,Köy veya Kasaba,Kozmetik,42670.646595,...,Etmiyor,48.083609,1.0,2.0,0.0,8.0,0.0,2.0,4.0,0.0
4,4,Erkek,18-30,Evli,Yüksek Lisans Mezunu,Kendi İşinin Sahibi,323635.711534,Küçük Şehir,Giyim,5959.266948,...,Etmiyor,12.752491,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0

In [15]:
encoder = OneHotEncoder().setInputCols(["CinsiyetIndex", "Yaş_GrubuIndex", "Medeni_DurumIndex", "Eğitim_DüzeyiIndex", "İstihdam_DurumuIndex", 
                "Yaşadığı_ŞehiIndex", "En_Çok_İlgilendiği_Ürün_GrubuIndex", "Eğitime_Devam_Etme_Durumu"]) \
.setOutputCols(["CinsiyeEnoder", "Yaş_GrubuEnoder", "Medeni_DurumEnoder", "Eğitim_DüzeyiEnoder", "İstihdam_DurumuEnoder", 
                "Yaşadığı_ŞehiEnoder", "En_Çok_İlgilendiği_Ürün_GrubuEnoder", "Eğitime_Devam_Etme_DurumuEnoder"])
encoderModel = encoder.fit(adultTest2)
adultTest3 = encoderModel.transform(adultTest2)
adultTest3.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,En_Çok_İlgilendiği_Ürün_GrubuIndex,Eğitime_Devam_Etme_Durumu,CinsiyeEnoder,Yaş_GrubuEnoder,Medeni_DurumEnoder,Eğitim_DüzeyiEnoder,İstihdam_DurumuEnoder,Yaşadığı_ŞehiEnoder,En_Çok_İlgilendiği_Ürün_GrubuEnoder,Eğitime_Devam_Etme_DurumuEnoder
0,0,Erkek,51-60,Evli,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,365331.930346,Köy veya Kasaba,Giyim,5566.587664,...,0.0,0.0,(1.0),"(0.0, 0.0, 1.0, 0.0)",(1.0),"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(1.0, 0.0, 0.0, 0.0)",(1.0)
1,1,Erkek,41-50,Bekar,Lise Mezunu,İşsiz veya Düzenli Bir İşi Yok,414899.236174,Büyük Şehir,Spor Malzemeleri,6756.766203,...,2.0,0.0,(1.0),"(0.0, 0.0, 0.0, 1.0)",(0.0),"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)",(1.0)
2,2,Kadın,>60,Evli,Eğitimsiz,İşsiz veya Düzenli Bir İşi Yok,152825.872271,Küçük Şehir,Giyim,4493.915682,...,0.0,0.0,(0.0),"(0.0, 0.0, 0.0, 0.0)",(1.0),"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0)
3,3,Kadın,51-60,Evli,Doktora Ötesi,Düzenli ve Ücretli Bir İşi Var,489052.908472,Köy veya Kasaba,Kozmetik,42670.646595,...,4.0,0.0,(0.0),"(0.0, 0.0, 1.0, 0.0)",(1.0),"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 0.0, 0.0, 0.0)",(1.0)
4,4,Erkek,18-30,Evli,Yüksek Lisans Mezunu,Kendi İşinin Sahibi,323635.711534,Küçük Şehir,Giyim,5959.266948,...,0.0,0.0,(1.0),"(1.0, 0.0, 0.0, 0.0)",(1.0),"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0)

In [16]:
assembler = VectorAssembler().setInputCols(["CinsiyeEnoder", "Yaş_GrubuEnoder", "Medeni_DurumEnoder", "Eğitim_DüzeyiEnoder", "İstihdam_DurumuEnoder", "Yıllık Ortalama Gelir",
                                       "Yaşadığı_ŞehiEnoder", "En_Çok_İlgilendiği_Ürün_GrubuEnoder", "Yıllık Ortalama Satın Alım Miktarı", "Yıllık Ortalama Sipariş Verilen Ürün Adedi", 
                                        "Eğitime_Devam_Etme_DurumuEnoder"])\
.setOutputCol("vectorizedFeatures")

assembleradultTest3 = assembler.transform(adultTest3)

In [17]:
scaler = StandardScaler().setInputCol("vectorizedFeatures").setOutputCol("features")
scalerModel = scaler.fit(assembleradultTest3)
scaledDF_test = scalerModel.transform(assembleradultTest3)
scaledDF_test.select("features").toPandas().head()

                                            features
0  (2.0042633458787367, 0.0, 0.0, 2.6427436825562...
1  (2.0042633458787367, 0.0, 0.0, 0.0, 2.86172064...
2  (0.0, 0.0, 0.0, 0.0, 0.0, 2.004030965302211, 0...
3  (0.0, 0.0, 0.0, 2.6427436825562696, 0.0, 2.004...
4  (2.0042633458787367, 2.1747035481500627, 0.0, ...

In [18]:
lrObject = LogisticRegression().setFeaturesCol("features").setLabelCol("label").setPredictionCol("predictions")

In [19]:
lrModel = lrObject.fit(scaledDF_train)
transformedDF = lrModel.transform(scaledDF_test)

In [20]:
transformedDF.toPandas().head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,...,Eğitim_DüzeyiEnoder,İstihdam_DurumuEnoder,Yaşadığı_ŞehiEnoder,En_Çok_İlgilendiği_Ürün_GrubuEnoder,Eğitime_Devam_Etme_DurumuEnoder,vectorizedFeatures,features,rawPrediction,probability,predictions
0,0,Erkek,51-60,Evli,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,365331.930346,Köy veya Kasaba,Giyim,5566.587664,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...","(2.0042633458787367, 0.0, 0.0, 2.6427436825562...","[-0.16944851664278193, -0.34047069338341407, 1...","[0.006251675220009438, 0.005268929896774503, 0...",3.0
1,1,Erkek,41-50,Bekar,Lise Mezunu,İşsiz veya Düzenli Bir İşi Yok,414899.236174,Büyük Şehir,Spor Malzemeleri,6756.766203,...,"(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0, 0.0)",(1.0),"(1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...","(2.0042633458787367, 0.0, 0.0, 0.0, 2.86172064...","[0.7087375916088616, -0.489778117529001, 2.091...","[0.02574864622379124, 0.007766862939437775, 0....",3.0
2,2,Kadın,>60,Evli,Eğitimsiz,İşsiz veya Düzenli Bir İşi Yok,152825.872271,Küçük Şehir,Giyim,4493.915682,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0)","(0.0, 1.0, 0.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 2.004030965302211, 0...","[-3.0733047021029836, -2.6368742129715277, -0....","[0.0002827211798889186, 0.0004374190547834805,...",7.0
3,3,Kadın,51-60,Evli,Doktora Ötesi,Düzenli ve Ücretli Bir İşi Var,489052.908472,Köy veya Kasaba,Kozmetik,42670.646595,...,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 0.0, 0.0, 0.0)",(1.0),"(0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 2.6427436825562696, 0.0, 2.004...","[2.2250522216479824, -0.39654024382377795, -8....","[0.0066806418224525065, 0.00048559593938296786...",6.0
4,4,Erkek,18-30,Evli,Yüksek Lisans Mezunu,Kendi İşinin Sahibi,323635.711534,Küçük Şehir,Giyim,5959.266948,...,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0)","(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0)","(1.0, 0.0, 0.0, 0.0)",(1.0),"(1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...","(2.0042633458787367, 2.1747035481500627, 0.0, ...","[-0.4303508246380092, -2.92232634231809, 2.350...","[0.0019402798882512161, 0.00016055105573691708...",5.0

In [21]:
transformedDF2 = lrModel.transform(scaledDF_train)

In [121]:
scaledDF_train.select("Öbek İsmi").toPandas().value_counts()

Öbek İsmi
obek_4       720
obek_8       717
obek_5       706
obek_3       695
obek_7       695
obek_1       692
obek_6       688
obek_2       547
dtype: int64

In [28]:
transformedDF2.select("label", "predictions").toPandas().head()

   label  predictions
0    0.0          0.0
1    2.0          3.0
2    1.0          1.0
3    3.0          3.0
4    3.0          3.0

In [29]:
def metrices(df):
    tp = df.select("label", "predictions").where("predictions == 1 and label == 1").count()
    tn = df.select("label", "predictions").where("predictions == 0 and label == 0").count()
    fp = df.select("label", "predictions").where("predictions == 1 and label == 0").count()
    fn = df.select("label", "predictions").where("predictions == 0 and label == 1").count()
    
    accuracy = float((tp+tn)/(tp+tn+fp+fn))
    recall = float(tp/(tp+fn))
    precision = float(tp/(tp+fp))
    print("accuracy: " , accuracy , "\n" , "recall: " , recall , "\n" , "precision: " , precision)
    return accuracy

In [30]:
metrices(transformedDF2)

accuracy:  0.9891067538126361
 recall:  0.9913793103448276
 precision:  0.9871244635193133

0.9891067538126361

In [44]:
df = adultTrain.select("Öbek İsmi").toPandas()

In [46]:
df.value_counts()

Öbek İsmi
obek_4       720
obek_8       717
obek_5       706
obek_3       695
obek_7       695
obek_1       692
obek_6       688
obek_2       547
dtype: int64

In [52]:
transformedDF2.select("label").toPandas().value_counts()

label
0.0      720
1.0      717
2.0      706
3.0      695
4.0      695
5.0      692
6.0      688
7.0      547
dtype: int64

In [122]:
deneme = transformedDF \
.withColumn("Öbek İsmi",
when(col("predictions") == 0.0, "obek_4")
.when(col("predictions") == 1.0, "obek_8")
.when(col("predictions") == 2.0, "obek_5")
.when(col("predictions") == 3.0, "obek_3")
.when(col("predictions") == 4.0, "obek_7")
.when(col("predictions") == 5.0, "obek_1")
.when(col("predictions") == 6.0, "obek_6")
.when(col("predictions") == 7.0, "obek_2"))

In [123]:
submit = pd.DataFrame()

In [129]:
submit.head()

   id Öbek İsmi
0   0    obek_3
1   1    obek_3
2   2    obek_2
3   3    obek_6
4   4    obek_1

In [125]:
submit = deneme.select("Öbek İsmi").toPandas()

In [120]:
submit["Öbek İsmi"].value_counts()

obek_3    315
obek_5    309
obek_7    302
obek_6    301
obek_1    293
obek_2    277
obek_8    276
obek_4    267
Name: Öbek İsmi, dtype: int64

In [127]:
submit['id'] = submit.index

In [128]:
submit = submit[["id", "Öbek İsmi"]]

In [75]:
transformedDF.select("predictions").toPandas().value_counts()

predictions
2.0            315
4.0            309
6.0            302
5.0            301
0.0            293
1.0            277
7.0            276
3.0            267
dtype: int64

In [116]:
transformedDF.count()

2340

In [118]:
adultTest.count()

2340

In [ ]:
adult_whole_df6 \
.coalesce(1) \
.write \
.option("sep",",") \
.option("header","True") \
.csv("ghy")

In [130]:
submit.to_csv("submit.csv", index = False)

In [162]:
df_train, df_valid= scaledDF_train.select("features", "label").randomSplit([0.5,0.5])

In [163]:
acc = []
for i in range(2,20,1):
    dtObject = DecisionTreeClassifier(maxDepth=i, labelCol="label", featuresCol="features", predictionCol="predictions")
    dtModel = dtObject.fit(df_train)
    transformedDF = dtModel.transform(df_valid)
    print("Decision Tree with ", i, " max depth\n")
    acc.append(metrices(transformedDF))
    print("-------------------------------\n")

Decision Tree with  2  max depth

accuracy:  0.9732394366197183
 recall:  0.9861111111111112
 precision:  0.962059620596206
-------------------------------

Decision Tree with  3  max depth

accuracy:  0.9841954022988506
 recall:  0.9915254237288136
 precision:  0.9777158774373259
-------------------------------

Decision Tree with  4  max depth

accuracy:  0.9852289512555391
 recall:  0.9943342776203966
 precision:  0.9777158774373259
-------------------------------

Decision Tree with  5  max depth

accuracy:  0.9811866859623734
 recall:  0.9858356940509915
 precision:  0.9775280898876404
-------------------------------

Decision Tree with  6  max depth

accuracy:  0.984081041968162
 recall:  0.9915014164305949
 precision:  0.9776536312849162
-------------------------------

Decision Tree with  7  max depth

accuracy:  0.9840116279069767
 recall:  0.9915014164305949
 precision:  0.9776536312849162
-------------------------------

Decision Tree with  8  max depth

accuracy:  0.9823269513991163
 recall:  0.9915014164305949
 precision:  0.9749303621169917
-------------------------------

Decision Tree with  9  max depth

accuracy:  0.9821162444113264
 recall:  0.9915014164305949
 precision:  0.9749303621169917
-------------------------------

Decision Tree with  10  max depth

accuracy:  0.9760119940029985
 recall:  0.9914529914529915
 precision:  0.96398891966759
-------------------------------

Decision Tree with  11  max depth

accuracy:  0.9774774774774775
 recall:  0.9914529914529915
 precision:  0.9666666666666667
-------------------------------

Decision Tree with  12  max depth

accuracy:  0.9773755656108597
 recall:  0.9914285714285714
 precision:  0.9665738161559888
-------------------------------

Decision Tree with  13  max depth

accuracy:  0.9768518518518519
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  14  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  15  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  16  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  17  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  18  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

Decision Tree with  19  max depth

accuracy:  0.9767441860465116
 recall:  0.9911504424778761
 precision:  0.9655172413793104
-------------------------------

In [164]:
dtObject = DecisionTreeClassifier(maxDepth=4, labelCol="label", featuresCol="features", predictionCol="predictions")
dtModel = dtObject.fit(scaledDF_train)
transformedDF = dtModel.transform(scaledDF_test)

In [165]:
transformedDF.select("predictions").toPandas().value_counts()

predictions
5.0            582
3.0            578
4.0            306
6.0            305
0.0            294
1.0            275
dtype: int64

In [153]:
transformedDF.count()

2340

In [154]:
deneme = transformedDF \
.withColumn("Öbek İsmi",
when(col("predictions") == 0.0, "obek_4")
.when(col("predictions") == 1.0, "obek_8")
.when(col("predictions") == 2.0, "obek_5")
.when(col("predictions") == 3.0, "obek_3")
.when(col("predictions") == 4.0, "obek_7")
.when(col("predictions") == 5.0, "obek_1")
.when(col("predictions") == 6.0, "obek_6")
.when(col("predictions") == 7.0, "obek_2"))

In [155]:
submit = deneme.select("Öbek İsmi").toPandas()

In [156]:
submit['id'] = submit.index

In [157]:
submit = submit[["id", "Öbek İsmi"]]

In [158]:
submit.head()

   id Öbek İsmi
0   0    obek_3
1   1    obek_3
2   2    obek_5
3   3    obek_6
4   4    obek_1

In [159]:
submit.to_csv("submit2.csv", index = False)

In [167]:
!pip install xgboost
from xgboost.spark import SparkXGBRegressor

Collecting xgboost
  Downloading xgboost-1.7.6-py3-none-win_amd64.whl (70.9 MB)
     --------------------------------------- 70.9/70.9 MB 14.9 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\metehan\anaconda3\lib\site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in c:\users\metehan\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6

In [169]:
spark_reg_estimator = SparkXGBRegressor(
  features_col="features",
  label_col="label",
  num_workers=2,
)

In [171]:
xgb_regressor_model = spark_reg_estimator.fit(scaledDF_train)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Could not recover from a failed barrier ResultStage. Most recent failure reason: Stage failed because barrier task ResultTask(2268, 0) finished unsuccessfully.
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\spark\core.py", line 836, in _train_booster
    booster = worker_train(
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\spark\data.py", line 312, in create_dmatrix_from_partitions
    dtrain = make(train_data, kwargs)
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\spark\data.py", line 268, in make
    return DMatrix(
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\core.py", line 620, in inner_f
    return func(**kwargs)
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\core.py", line 743, in __init__
    handle, feature_names, feature_types = dispatch_data_backend(
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\data.py", line 962, in dispatch_data_backend
    return _from_numpy_array(data, missing, threads, feature_names, feature_types)
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\data.py", line 213, in _from_numpy_array
    _check_call(
  File "C:\Users\Metehan\anaconda3\lib\site-packages\xgboost\core.py", line 279, in _check_call
    raise XGBoostError(py_str(_LIB.XGBGetLastError()))
xgboost.core.XGBoostError: [17:43:43] C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\rabit\include\rabit/internal/socket.h:172: Failed to poll.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:561)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:514)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.ContextAwareIterator.hasNext(ContextAwareIterator.scala:39)
	at org.apache.spark.api.python.SerDeUtil$AutoBatchedPickler.hasNext(SerDeUtil.scala:86)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.api.python.SerDeUtil$AutoBatchedPickler.foreach(SerDeUtil.scala:80)
	at org.apache.spark.api.python.PythonRDD$.writeIteratorToStream(PythonRDD.scala:320)
	at org.apache.spark.api.python.PythonRunner$$anon$2.writeIteratorToStream(PythonRunner.scala:734)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:440)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2088)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:274)

	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskCompletion(DAGScheduler.scala:2158)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2978)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2328)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1019)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:405)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1018)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)